src/mailer/templates/welcome.hbs
--------------------------------
<h1>Xin chào {{name}}!</h1>
<p>Chào mừng bạn đến với Demo App.</p>

src/mailer/templates/otp.hbs
----------------------------
<p>Mã OTP của bạn là: <strong>{{code}}</strong></p>
<p>OTP sẽ hết hạn sau 5 phút.</p>
